* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
    /* direction: rtl; */
    text-align: right;
}

html, body {
    direction: rtl;
}

/* Framework */

/* 
.bg_fixed {
    background-color: #43215e;
} */

.fixed_btn {
    border: 1px solid #ebc038;
    border-radius: 15px;
    width: auto;
    padding: 10px 27px;
    color: #000000;
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-weight: 600;
    display: inline-block;
}

.fixed_btn:hover {
    background-color: #ebc038;
    color: #fff !important;
}

/* Flex images */

.flex-images-section .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

.card-photo {
    background-size: cover;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}

.flex-images .item {
    float: left;
    margin: 2.5px 3px !important;
    box-sizing: content-box !important;
    overflow: hidden !important;
    position: relative !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border: 0 !important;
}

.flex-images .item {
    float: right !important;
}

.border-file {
    border: 1px solid;
    border-color: #e1e2e3;
}

.card-photo .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.2) 100%);
    opacity: 0;
    transition: 0.4s;
}

.card-photo-content {
    opacity: 0;
    color: #fff;
}

.card-photo-title {
    padding: 0 10px;
    margin: 0px auto;
    position: absolute;
    top: 10px;
    font-size: 1rem;
    font-weight: 600;
    z-index: 3;
    color: #fff;
    /* text-shadow: 1px 1px 1em rgb(0 0 0 / 38%); */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.card-photo .hover:hover .card-photo-content {
    opacity: 1;
}

.card-photo .hover-overlay:hover {
    opacity: 1;
}

/* Flex images */

/* Framework */

/* Start navbar */

.logo {
    width: 10%;
}

.navbar-brand {
    margin-right: 0;
}

ul.navbar-nav {
    padding: 0;
}

.btn-image {
    margin-left: 20px;
    margin-right: 20px;
}

.btn-video {
    margin: 0 0 0 20px;
}

.btn-style {
    border: 1px solid #ebc038;
    border-radius: 7px;
    transition: all .3s ease-in-out;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.btn-style:hover {
    background-color: #ebc038;
    color: #fff;
}

.Registration a {
    font-size: .867rem !important;
}

.nav-item .nav-link {
    font-size: .867rem;
    color: #000 !important;
    font-weight: 500;
    margin-left: 15px;
}

.navbar-expand .nav-link:hover {
    opacity: .7;
}

.language {
    font-size: .867rem;
    color: #000 !important;
    font-weight: 500;
    text-decoration: none;
    margin-top: 6px;
}

.language:hover, #navbarSupportedContent .navbar-nav a:hover {
    opacity: .81 !important;
}

.search input {
    border: 2px solid #c8c8c8;
    height: 50px;
    outline: none;
    border-radius: 0;
}

.form-control:focus {
    border-color: unset;
    box-shadow: none;
}

.select-images {
    border-radius: 0 15px 15px 0px;
    border: 2px solid #c8c8c8;
    border-left: 0;
    outline: none;
    cursor: pointer;
    padding-right: 10px;
}

.btn-search {
    border-radius: 15px 0px 0px 15px;
    border: 2px solid #c8c8c8;
    border-right: 0;
    width: 10%;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-search:hover {
    background-color: #ebc038;
    color: #fff;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
}

.btn-acc:nth-of-type(1) {
    margin-left: 20px;
}

.btn-acc {
    border-radius: 5px;
    transition: all .3s ease-in-out;
    font-size: .867rem;
    font-weight: 500;
}

.login {
    border: 1px solid rgb(173, 167, 167);
    border-radius: 15px;
}

.login:hover {
    background-color: #ebc038;
    color: #fff;
    border: 1px solid #ebc038;
}

.my_account {
    width: 100%;
    min-width: 270px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    top: 60px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    transition: all ease-in 0.3s;
    text-align: center;
}

.my_account a {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    margin: 10px 0 !important;
    text-align: center;
    color: white !important;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.my_account a.acc {
    background-color: #43215E;
}

.my_account a.exit {
    background-color: #f00;
}

.my_account a.acc:hover {
    background-color: #7031a2;
}

.my_account a.exit:hover {
    background-color: #d50f0f;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.cart a {
    text-decoration: none;
    color: #000;
}

.btn_cart_count {
    position: absolute;
    top: -3px;
    right: -13px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    line-height: 1;
    background-color: #43215e;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 600;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

/* 
.list_navbar {
    display: block;
}
.list_navbar li {
    display: inline-block;
} */

/* End navbar */

/* Start header */

header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 400px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.social ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.social ul li {
    display: inline-block;
}

.social ul li a {
    color: #fff;
    display: inline-block;
    margin-left: 20px;
}

.content_header {
    padding-top: 90px;
}

.content_header h1 {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 40px;
}

.links {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.links li {
    display: inline-block;
    margin-left: 11px;
    transition: all .3s ease-in-out;
}

.links li:hover {
    opacity: .65;
}

.links li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.links .active {
    font-weight: 500;
}

/* Start header */

/* Start section_pricing */

.section_pricing h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}

.section_pricing a {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 15px;
    width: auto;
    padding: 10px 27px;
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    transition: all .3s ease-in-out;
    font-weight: 500;
}

.section_pricing a:hover {
    background-color: #fff;
    color: #000;
}

.box_pricing {
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    /* border: 1px solid #000; */
    padding: 52px 24px 8px;
    margin-bottom: 40px;
    box-shadow: inset 0 0 0 1px rgb(12 18 28 / 12%);
}

.title_pricing {
    font-size: 1.533rem;
    color: rgba(12, 18, 28, .87);
    font-weight: 700;
    line-height: 1.1;
}

.content_body_pricing {
    color: rgba(12, 18, 28, .87);
    text-align: center;
    padding: 8px 0;
    font-size: 1rem;
}

.tabs_center {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabs_center .active {
    background-color: #cacdd2 !important;
}

.tabs_center .nav-link {
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}

.btn_tabs_images {
    border-radius: 25px;
    padding: 0 12px;
    background-color: #fff !important;
    box-shadow: inset 0 0 0 1px rgb(12 18 28 / 12%);
    height: 40px;
    line-height: .733rem;
    margin: initial;
    overflow: hidden;
    white-space: normal;
}

.box_pricing .nav-tabs {
    border: none !important;
}

.container_link_tapPrice {
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.price_image p {
    display: inline-block;
}

.price_image .sign {
    position: relative;
    top: -26px;
    font-size: 1.533rem;
    font-weight: 400;
}

.priceTag_price {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 0;
}

.price_image span {
    font-size: .867rem;
    color: rgba(12, 18, 28, .87);
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding-bottom: 8px;
}

.disc_pricing {
    font-weight: 400;
    font-size: .733rem;
    color: rgba(12, 18, 28, .6);
    line-height: 1.5;
    margin-bottom: 25px;
}

.btn_submit a {
    border-radius: .3rem;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 1.25rem;
    color: #fff !important;
    background-color: #ebc038;
    border-color: #ebc038;
    width: 100%;
    display: block;
    text-decoration: none;
    padding: .5rem 1rem;
}

.btn_submit a:hover {
    opacity: .9;
}

/* End section_pricing */

/* Start add section */

.title_sections {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

.container_image {
    position: relative;
    margin-bottom: 40px;
    transition: all .3s ease-in-out;
}

/* 
.card {
    height: 350px;
    max-height: 350px;
}

.card, .img-card {
    border-radius: 25px;
}

.img-card {
    height: 348px;
    width: 100%;
} */

.product_image:hover::before {
    display: block;
}

.container_image:hover .product_image::before {
    display: block;
}

.container_image:hover .product_card_title {
    display: block;
}

.product_image {
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease-out;
}

.product_image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 100%;
    padding-right: 20px;
    display: none;
    border-radius: 25px;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease-out;
}

.product_card_title {
    position: absolute;
    bottom: 0;
    display: none;
    padding-right: 10px;
}

.product_card_title a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

/* .opacity {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(000, 000, 000, .5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    padding-right: 20px;
    visibility: hidden;
    transition: all .3s ease-in-out;
    border-radius: 25px;
} */

.opacity p {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.read_more {
    font-size: 24px;
    font-weight: 600;
    color: #43215e !important;
    text-decoration: none;
}

.icon_left {
    display: inline-block;
}

.icon_left i {
    font-size: 17px;
    margin-right: 8px;
    transition: margin-right .3s ease-in-out;
}

.read_more:hover .icon_left i {
    margin-right: 11px;
}

.bg_category_product {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center;
    height: 234px;
    background-repeat: no-repeat;
    /* border-radius: 25px; */
    overflow: hidden;
    margin-bottom: 25px;
}

.dark_overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
    transition: all ease-in 0.4s;
    color: white;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.bg_category_product:hover .dark_overlay {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.7);
}

/* End add section */

/* Start section owlcarousel */

.owl-carousel {
    direction: ltr;
    margin-top: 50px;
}

.owl-carousel .card {
    position: relative;
}

.owl-carousel .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.card_title {
    position: absolute !important;
    bottom: 20px;
    right: 90px;
    text-decoration: none;
    color: #000 !important;
    font-weight: 600;
    font-size: 22px;
}

/* End section owlcarousel */

/* Start section_register */

.section_register {
    margin-top: 30px;
}

.section_register h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

/* End section_register */

/* Start content_aboutUS */

.content_aboutUS p {
    font-size: 17px;
    font-weight: 400;
    color: #969696;
    line-height: 2;
}

/* End content_aboutUS */

/* Start footer */

.copyright a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.social_links {
    float: left;
}

.social_links a {
    text-decoration: none;
}

.social_links a i {
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
}

/* End footer */

/* Start login page */

.logo-login {
    width: 30%;
    text-align: center;
    margin: 50px auto 40px;
}

.bg-left {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-image: url('../images/login.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-left .content h4 {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    line-height: 2;
}

.form-login .form-group input {
    height: 49px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.form-login button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.forget_password p {
    font-size: 17px;
    color: #838080;
    margin-top: 15px;
}

.forget_password a, a.privacy {
    text-decoration: none;
    font-size: 17px;
    color: #43215e;
    font-weight: 600;
}

/* End login page */

/* Start about us page */

.content_about p {
    font-size: 17px;
    font-weight: 400;
    color: #222;
    line-height: 2;
}

/* End about us page */

/* Start pricing  */

.title-price-month p {
    font-size: 20px;
    font-weight: 600;
    color: #43215e;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 50px;
}

.card-header {
    border-radius: 25px 25px 0 0 !important;
}

.card-footer {
    border-radius: 0 0 25px 25px !important;
}

.card-header h4 {
    font-size: 40px;
    font-weight: 600;
    color: #43215e;
}

.card-body ul li {
    font-size: 19px;
    font-weight: 400;
    color: #222;
    margin-bottom: 15px;
}

.nav_pricing {
    margin: auto;
    text-align: center;
    width: 33%;
    border: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav_pricing li button {
    font-size: 20px;
    font-weight: 600;
    color: #000 !important;
    transition: all .4s ease-in-out;
}

.nav_pricing li button.active {
    border: 1px solid #43215e !important;
    background-color: #43215e !important;
    color: #fff !important;
}

.nav_pricing li button:hover {
    border: 1px solid #43215e !important;
    background-color: #43215e !important;
    color: #fff !important;
}

/* .nav_pricing li button:first-of-type {
    background-color: #43215e;
    color: #fff;
    border: unset !important;
} */

/* End pricing  */

/* Start contact us */

.social_contact ul {
    padding: 0;
    list-style: none;
}

.social_contact ul li {
    margin-bottom: 25px;
}

.social_contact ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.social_contact ul li a i {
    padding-left: 10px;
}

.social_contact ul li a i {
    color: #5d2e83;
}

.form_contact {
    overflow: hidden;
}

.form_contact .form-group {
    margin-bottom: 15px;
}

.custom-file {
    display: inline-block;
}

.custom-file-input {
    display: none;
}

.custom-file-label {
    width: 100%;
    background: #fff;
    border: 1px solid #000;
    padding: 10px 60px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.send_form {
    display: inline-block;
    float: left;
}

.send_form button {
    background: #fff;
    border: 1px solid #000;
    padding: 10px 60px;
    font-size: 20px;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.send_form button:hover, .custom-file-label:hover {
    background-color: #5d2e83;
    color: #fff;
}

/* End contact us */

/* Start product page */

.container-productImg {
    margin-top: 50px;
}

.collections ul {
    list-style: none;
    padding: 0;
}

.collections ul li {
    display: inline-block;
    border: 2px solid #e6e6e6;
    background-color: transparent;
    padding: 8px 15px;
    text-align: center;
    margin-right: 5px;
    margin-top: 15px;
    transition: all .3s ease-in-out;
    border-radius: 25px;
}

.collections ul li a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
}

.collections ul li:hover {
    /* transform: scale(.9); */
    /* border: 2px solid #5d2e83; */
    background-color: #cacdd2;
    border: 2px solid #cacdd2
}

.number_image {
    font-size: 19px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
    display: block;
}

.price_product {
    font-size: 17px;
    font-weight: 600;
    color: #000;
}

.price_product b {
    font-weight: 900;
    font-size: 25px;
    color: #5d2e83;
    padding: 0 5px;
}

.title_product ul {
    padding: 0;
}

.title_product .nav-tabs {
    border: unset;
}

.title_product .nav-link.active {
    background: #ebc038;
    border: 1px solid #ebc038 !important;
    color: #000;
    border-color: unset;
}

.title_product .nav-link {
    padding: 5px 15px;
    margin-bottom: 20px;
    border: 1px solid #ebc038;
}

.title_product .tab-pane {
    font-size: 17px;
    color: #000;
    font-weight: 500;
}

.container_selection {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container_selection input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.container_selection:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.container_selection input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.container_selection input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.checkmark:after {
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

.content_selection p {
    font-size: 17px;
    font-weight: 500;
    color: #222;
}

/* End product page */

/* Start cart page */

.cartText h3 {
    font-size: 26px;
    font-weight: 600;
    color: #000;
}

.cartText a {
    text-decoration: none;
}

.container-product-cart {
    margin-top: 50px;
}

.bg_product_cart {
    background-image: url(../images/product.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    background-color: rgb(226, 226, 226);
    max-height: 160px;
    height: 160px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.container-product-cart h4 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
    color: #43215e;
    line-height: 1.5;
}

.container-product-cart p {
    font-size: 29px;
    font-weight: 600;
    color: #000;
}

.left_side_cart {
    margin-top: 50px;
}

.last_price {
    overflow: hidden;
    padding: 20px;
    height: auto;
    margin-bottom: 30px;
}

.last_price p {
    font-size: 25px;
    font-weight: 600;
    color: #222;
}

.last_price span {
    font-size: 1.28571rem;
    font-weight: 600;
    color: #000;
}

span.oldPrice {
    font-size: 0.857143rem;
    text-decoration: line-through;
    color: rgb(126, 133, 155);
    margin-left: 4px;
}

span.discount {
    font-size: 0.857143rem;
    color: rgb(56, 174, 4);
    font-weight: bold;
    text-transform: uppercase;
}

/* End cart page */

/* Start dashboard */

ul.right-navbar {
    padding: 0;
    list-style: none;
    margin-top: 40px;
}

.right-navbar li {
    margin-bottom: 5px;
}

.right-navbar li a {
    text-decoration: none;
    color: #000;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    transition: all .3s ease-in-out;
    font-size: 17px;
    font-weight: 600;
}

.right-navbar li a i {
    padding-left: 10px;
}

.right-navbar li a:hover {
    background-color: #f3f4f5;
}

.dashboard-content {
    margin-top: 40px;
    border-right: 1px solid rgba(12, 18, 28, .12);
    padding-right: 24px;
    min-height: 500px;
}

.title-dashboard h3 {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 40px;
}

.title-dashboard p {
    font-size: 20px;
    font-weight: 400;
    color: #222;
    margin-bottom: 40px;
}

.dashboard-content form {
    width: 80%;
}

.dashboard-content .form-group {
    margin-bottom: 25px;
}

.dashboard-content .form-group label {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    width: 20%;
}

.dashboard-content .form-group input {
    width: 70%;
    height: 40px;
    padding-right: 15px;
    border-radius: 5px;
    border: 1px solid #222;
}

.dashboard-content .form-group {
    position: relative;
}

/* End dashboard */

/* Start payment page */

.card-payment {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.card-payment .card-body input, .card-payment .card-body select {
    margin-bottom: 20px;
}

.card-payment .card-body select {
    cursor: pointer;
}

.form-select {
    background-position: left .75rem center !important;
    padding: .375rem .75rem .375rem 2.25rem;
}

.card-payment .card-body label {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 400;
    color: #222;
}

.title_payment {
    color: #43215e;
    font-size: 24px;
    font-weight: 600;
}

.price-subtotals span {
    white-space: nowrap;
    text-align: left;
    font-size: .733rem;
    color: rgba(12, 18, 28, .6);
    display: block;
}

.price-subtotals strong {
    display: block;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(12, 18, 28, .87);
}

.summary {
    margin-top: 100px;
}

.checkout-order-summery p:first-of-type {
    font-size: 16px;
    font-weight: 700;
    color: rgba(12, 18, 28, .87);
    margin-bottom: 2px;
}

.license-type {
    color: rgba(12, 18, 28, .6);
    font-size: .733rem;
}

.total-price span {
    color: rgba(12, 18, 28, .6);
    line-height: 1.5;
    font-size: 13px;
}

.subtotal {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    display: block;
}

.payment_box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
    background-color: #efefef;
    color: #515151;
}

ul.payment_methods li input {
    margin: 0 0 0 1em;
}

.payment_box p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.8px;
}

.payment_box::before {
    content: '';
    display: block;
    border: 1em solid #dfdcde;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -.75em;
    right: 0;
    margin: -1em 2em 0 0;
    border-bottom-color: #efefef;
}

.button-payment-submit {
    background-color: #ebc038;
    width: 100%;
    padding: .5em .75em;
    font-weight: 700;
    border-radius: 3px;
    color: #fff;
    border: 0;
}

/* End payment page */

/* Start enterprise */

.header-enterprise {
    background-image: url('../images/bg-header-enterprise.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.enterprise_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, black, transparent)
}

.content_header_enterprise {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.content_header_enterprise h1 {
    font-size: 70px;
    color: #fff;
}

.content_header_enterprise p {
    font-size: 25px;
    color: #fff;
    margin-top: 20px;
}

.enterprise-steps,
.features {
    background-color: #ededed;
    padding: 40px 0;
}
.features {
    margin: 40px 0;
    text-align: center;
}

.box-enterprise {
    text-align: center;
    background: #fff;
    padding: 35px 0;
    border-radius: 5px;
}

.number-steps {
    height: 30px;
    width: 30px;
    border: 1px solid #000;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.box-enterprise .icon i {
    font-size: 50px;
    margin: 20px 0;
}

.enterprise-login {
    background-image: url(../images/bg-footer-enterprise.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.features-list {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title_enterprise_login {
    color: #fff;
    text-align: center;
    padding: 40px 0;
    font-size: 34px;
    font-weight: 700;
}

.features-list li {
    color: #fff;
    font-size: 23px;
    font-weight: 500;
}

.features-list li i {
    margin-left: 10px;
}

.container-company-data {
    background-color: #fff;
    padding: 50px;
    border-radius: 4px;
    margin: 30px 0;
}

.container-company-data .form-control {
    margin-bottom: 30px;
    height: 45px;
}
.check-tap {
    overflow: hidden;
}
.check-tap .item {
    width: 33.333333333333%;
    float: right;
    padding: 0 10px;
    text-align: center;
    opacity: .3;
    color: #050505;
    transition: all .4s ease-in-out;
}

.check-tap .item.active {
    opacity: 1;
    color: #6c309c;

}

.check-tap .form-control {
    border-color: #6c309c;
    transition: all .4s ease-in-out;
    padding: 0px 20px;
    height: 50px;
    color: #6c309c;
    border-radius: 5px;
    background-color: transparent;
    line-height: 45px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-weight: 500;
}
.company-form-submit {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #FFF ;
    padding: 10px;
    background-color: #6c309c;
    border-radius: 8px;
    border: 2px solid #6c309c;
    transition: all .4s ease-in-out;
}
.company-form-submit:hover {
    color: #6c309c;
    background-color: #FFF;
}
.heading-features {
    padding-top: 0;
    /*color: #000000;*/
    margin-bottom: 25px;
    color: #573770;
}
.header-features i {
    font-size: 55px;
    margin-bottom: 35px;
    color: #573770;

}
.body-features h4 {
    font-size: 23px;
    font-weight: 600;
    color: #000000;
}
/* End enterprise */